<section id="section-gallery" class="gallery">
    <div class="heading center">
        <h2 class="heading__title">Smile Gallery</h2>
        <p class="heading__byline">Select a link below to learn more.</p>
    </div>
    <div class="full-width-wrapper">
        <div class="container gallery--full-width">
            <div class="owl-carousel js-smile-gallery">

                <div class="galleryCard" data-ts-pointer="1">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore">Learn More</p>
                </div>

                
                <div class="galleryCard" data-ts-pointer="2">
                    <img src="/assets/services/tabletDown/cerec.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore">Learn More</p>
                </div>

                <div class="galleryCard" data-ts-pointer="3">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore">Learn More</p>
                </div>

                <div class="galleryCard" data-ts-pointer="4">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore">Learn More</p>
                </div>

                <div class="galleryCard" data-ts-pointer="5">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore">Learn More</p>
                </div>

                <div class="galleryCard" data-ts-pointer="6">
                    <img src="/assets/services/tabletDown/cosmetic.jpg" alt="Sample Image" class="galleryCard_image">
                    <h4 class="galleryCard__title">Sample Case</h4>
                    <p class="galleryCard__learnMore">Learn More</p>
                </div>

            </div>
        </div>
    </div>

    <div data-lightbox="gallery" class="hidden">
        <a href="/assets/services/tabletDown/cosmetic.jpg" data-lightbox="gallery-item" data-ts-target="1">
            <img src="/assets/services/tabletDown/cosmetic.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile">
        </a>
        
        <a href="/assets/services/tabletDown/cerec.jpg" data-lightbox="gallery-item" data-ts-target="2">
            <img src="/assets/services/tabletDown/cerec.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile">
        </a>
        
        <a href="/assets/services/tabletDown/cosmetic.jpg" data-lightbox="gallery-item" data-ts-target="3">
            <img src="/assets/services/tabletDown/cosmetic.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile">
        </a>
        
        <a href="/assets/services/tabletDown/cosmetic.jpg" data-lightbox="gallery-item" data-ts-target="4">
            <img src="/assets/services/tabletDown/cosmetic.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile">
        </a>
        
        <a href="/assets/services/tabletDown/cosmetic.jpg" data-lightbox="gallery-item" data-ts-target="5">
            <img src="/assets/services/tabletDown/cosmetic.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile">
        </a>
        
        <a href="/assets/services/tabletDown/cosmetic.jpg" data-lightbox="gallery-item" data-ts-target="6">
            <img src="/assets/services/tabletDown/cosmetic.jpg" alt="{{ mainDoctor }} before and after showing greatly improved smile">
        </a>


    </div>
</section>

